<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  body {
    margin: 0;
    height: 100vh;
  }</style>
</head>
<body>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afe25afa8f0541b8d218ce9f8b60cb57fcf5861fee01ea75a95d1b2928e890ac7&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
</body>
</html>